name: Android CI

on:
  push:
    branches: 
      - main
      - qa
      - develop
  pull_request:
    branches: 
      - main
      - qa

env:
  AWS_DEFAULT_REGION: "us-east-1"
  AWS_ROLE_TO_ASSUME: "GitHubActionsRole"
  ACCOUNT_ID: "144947567090"
  SECURITY_GROUP_ID: "sg-030753c440fef9cd7"

jobs:
  build:
    name: Build, Test, and Scan
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read # Only needs to read code
    
    outputs:
      runner_ip: ${{ steps.check_ip.outputs.runner_ip }}

    steps:
    - name: Check IP and Set Output
      id: check_ip
      run: |
        RUNNER_IP=$(curl -s https://api.ipify.org)
        echo "Runner IP is $RUNNER_IP"
        # This line makes the IP available to the job's 'outputs'
        echo "runner_ip=$RUNNER_IP" >> $GITHUB_OUTPUT

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: arn:aws:iam::${{ env.ACCOUNT_ID }}:role/${{ env.AWS_ROLE_TO_ASSUME }}
        aws-region: ${{ env.AWS_DEFAULT_REGION }}
        output-env-credentials: true
        role-duration-seconds: 900
        role-session-name: github-actions-session
  
    - name: Add GitHub Runner IP to Security Group (Port 9000)
      run: |
        echo "Authorizing ingress on port 9000 for IP: ${{ steps.check_ip.outputs.runner_ip }}"
        aws ec2 authorize-security-group-ingress \
          --group-id ${{ env.SECURITY_GROUP_ID }} \
          --protocol tcp \
          --port 9000 \
          --cidr ${{ steps.check_ip.outputs.runner_ip }}/32 
        
    - uses: actions/checkout@v4
    
    - name: set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'zulu'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      
    # - name: Clean Gradle
    #   run: ./gradlew clean
      
    # - name: Lint Gradle
    #   run: ./gradlew lint
      
    # - name: Build with Gradle
    #   run: ./gradlew build

    - name: Cache SonarQube packages
      uses: actions/cache@v4
      with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
   
    - name: Cache Gradle packages
      uses: actions/cache@v4
      with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: ${{ runner.os }}-gradle
          
    - name: Code Scan Analysis - SonarQube
      env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
      run: ./gradlew sonarqube -Dsonar.projectKey=android-demo-app
      
    # - name: Date and Time
    #   id: date # Give this step an ID
    #   run: echo "current_date_time=$(date +"%d-%m-%Y-%H-%I-%M-%S")" >> $GITHUB_ENV

  teardown:
    name: Teardown AWS Security Rules
    runs-on: ubuntu-latest
    needs: [build]
    if: always()

    permissions:
      id-token: write # Required for OIDC role assumption

    steps:
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-region: ${{ env.AWS_DEFAULT_REGION }}
        use-existing-credentials: true

    - name: Remove GitHub Runner IP from Security Group
      run: |
        RUNNER_IP=${{ needs.build.outputs.runner_ip }}
        echo "Revoking ingress on port 9000 for IP: $RUNNER_IP"
        
        aws ec2 revoke-security-group-ingress \
          --group-id ${{ env.SECURITY_GROUP_ID }} \
          --protocol tcp \
          --port 9000 \
          --cidr $RUNNER_IP/32